*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

body {
  margin: 0;
  background-color: $Very-Light-Grayish-Blue;
  font-size: 1.8rem;
}

.wrapper {
  max-width: 500px;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;
}
