*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

body {
  font-size: 1.8rem;
  margin: 0;
  position: relative;
  background-color: $Very-Light-Grayish-Blue;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 215px;
    background-image: url(../../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    top: -30px;
    left: 0;

    @media screen and (min-width: 480px) {
      background-image: url(../../images/bg-desktop-light.jpg);
    }
  }
}

.todo__container {
  max-width: 500px;
  margin: auto;
}

.wrapper {
  height: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.check {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.check.completed,
.todo__check.completed {
  background-image: linear-gradient($Check-Background1, $Check-Background2);
}

.check__icon {
  width: 57%;
}
.todo__text {
  width: 70%;
  margin: 0;
  font-size: 1.5rem;
}

.todo__text.completed {
  text-decoration: line-through;
  color: $Dark-Grayish-Blue;
}

.todo__check {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
}

.todo__check.completed {
  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url(../../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
