@font-face {
  font-family: JosefinSans-Bold;
  font-style: normal;
  font-weight: bold;
  src: url(../../fonts//JosefinSans-Bold.ttf);
}

@font-face {
  font-family: JosefinSans-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/JosefinSans-Regular.ttf);
}
