.main {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 205px;
    background-image: url(../../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    top: -30px;
    left: 0;

    @media screen and (min-width: 480px) {
      background-image: url(../../images/bg-desktop-light.jpg);
    }

    @media screen and (min-width: 800px) {
      height: 230px;
    }
  }
}
