.settings {
  .data {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 5px 5px;
    font-size: 1.7rem;
    margin-bottom: 20px;

    &__length {
      color: $Dark-Grayish-Blue;
    }

    &__clear {
      text-decoration: none;
      color: $Dark-Grayish-Blue;
    }
  }

  .options {
    height: 60px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    justify-content: space-evenly;

    &__item {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      color: $Dark-Grayish-Blue;
    }
  }
}
