.todo__options {
  background-color: white;
  height: 60px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;

  display: flex;
  justify-content: space-evenly;

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: $Dark-Grayish-Blue;
    }
  }
}
