@import './assets/styles/variables';

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

body {
  font-family: Poppins, Georgia;
}
